class SETTINGS():
    app_name    = "smartros"               # keyword, don't change if not sure
    app_tmp_dir = "/tmp/" + app_name       # script must have write permissions to this folder
    app_log_dir = "/var/log/" + app_name   # script must have write permissions to this folder
    debug       = False
    #debug       = True
